
$h-font: 'Bangers', cursive;
$p-font: 'Caveat', cursive;
$red: #E31E2F;
$yellow: #FFEA4D;
$lblue: #089CDA;
$dblue: #007BC8;
$orange: #ED7923;
$white: #F3F3DB;
$ratio: 1.4;
$s0: 1rem;
$s1: calc($s0 * $ratio);
$s2: calc($s1 * $ratio);
$s3: calc($s2 * $ratio);
$s4: calc($s3 * $ratio);
$s5: calc($s4 * $ratio);
$padding: 1em;
$border: 3px solid black;
