@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Caveat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Caveat", cursive;
  text-transform: uppercase;
}

h2 > abbr, footer > a {
  font-family: "Bangers", cursive;
}

abbr, p > a {
  font-weight: bolder;
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
  transition: all 200ms;
}
a:hover {
  color: #ED7923;
  transform: scale(1.5);
}

p {
  font-size: 1.4rem;
  margin: 10px 0;
}

li {
  padding-right: 10px;
  margin: 10px 0;
}

h3 {
  font-size: 1.96rem;
  font-family: "Bangers", cursive;
  letter-spacing: 0.1em;
  background-color: #F3F3DB;
  border: 3px solid black;
  width: fit-content;
  padding: 5px 15px;
  margin: 0.2em 0;
}

/* Main Page Layout */
.page-wrapper {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "intro" "main" "sidebar";
  background-color: #F3F3DB;
  background-image: url(./background.svg);
}
.page-wrapper .intro {
  background-color: #089CDA;
  padding: 1em;
  border: 3px solid black;
}
.page-wrapper .intro header {
  background-color: #F3F3DB;
  background-image: url(./background.svg);
  border: 5px solid black;
  padding: 1em;
}
.page-wrapper .intro header h1, .page-wrapper .intro header h2 {
  margin: auto;
  text-align: center;
  font-family: "Bangers", cursive;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 1px black;
}
.page-wrapper .intro header h1 {
  font-size: 5.37824rem;
  color: #E31E2F;
}
.page-wrapper .intro header h2 {
  font-size: 3.8416rem;
  color: #ED7923;
}
.page-wrapper .intro .summary {
  text-align: right;
}
.page-wrapper .main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: ". a a" "b b ." ". c c" "d d ." "e e e";
}
.page-wrapper .main .explanation, .page-wrapper .main .participation, .page-wrapper .main .benefits, .page-wrapper .main .requirements, .page-wrapper .main footer {
  padding: 1em;
  border: 3px solid black;
  margin: 5px 0;
}
.page-wrapper .main .explanation {
  grid-area: a;
  text-align: right;
  background-color: #FFEA4D;
}
.page-wrapper .main .benefits {
  grid-area: c;
  text-align: right;
  background-color: #007BC8;
}
.page-wrapper .main .participation {
  grid-area: b;
  background-color: #ED7923;
}
.page-wrapper .main .participation a:hover {
  color: #E31E2F;
}
.page-wrapper .main .requirements {
  grid-area: d;
  background-color: #089CDA;
}
.page-wrapper .main footer {
  grid-area: e;
  text-align: center;
  background-color: #E31E2F;
  display: flex;
  justify-content: space-around;
  font-size: 1.96rem;
  letter-spacing: 0.1em;
}
.page-wrapper .sidebar {
  grid-area: sidebar;
  color: #E31E2F;
}
.page-wrapper .sidebar h3 {
  width: 100%;
}

@media (min-width: 1024px) {
  .page-wrapper {
    grid-gap: 30px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "intro sidebar" "main main";
  }
  .page-wrapper h1 {
    font-size: 5.37824rem;
  }
  .page-wrapper h2, .page-wrapper h2 > abbr {
    font-size: 3.8416rem;
  }
  .page-wrapper h3, .page-wrapper footer {
    font-size: 2.744rem;
  }
}

/*# sourceMappingURL=styles.css.map */
